# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Raw datasets
data/raw/

# Processed datasets
data/processed/

# Large model/output files
outputs/*.pkl
outputs/*.csv

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/